<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{% block lang %}en{% endblock %}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		{% block meta %}
		{% endblock %}

		<title>{% block title %}World Slangs | All slangs of world in one place{% endblock %}</title>
		
		<link rel="stylesheet" href="{{ url_for("static", filename="vendor/bootstrap/css/magic-bootstrap.css") }}" type="text/css" />
		{% block styles %}
		{% endblock %}
		<link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css") }}" type="text/css" />
	</head>

	<body>
		 <nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ url_for("bp_word.home") }}">WorldSlangs.com</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li {% if reverse_url_map(request.path) == "bp_word.home" %} class="active" {% endif %}><a href="{{ url_for("bp_word.home") }}">Home</a></li>
						<li {% if reverse_url_map(request.path) == "bp_word.show_add_form" %} class="active" {% endif %}><a href="{{ url_for("bp_word.show_add_form") }}">Add Slang</a></li>
						<li {% if reverse_url_map(request.path) == "bp_user.login" %} class="active" {% endif %}><a href="{{ url_for("bp_user.login") }}">Login</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>

		<div class="container">

			{% block content %}
			<div class="row">
				<div class="col-lg-12">
					<h1>Nothing to see here.</h1>
					<p>This is base template, you need to override this!</p>
				</div>
			</div>
			{% endblock %}
			<hr>

			<footer>
				<div class="row">
					<div class="col-lg-12">
						<!-- <p>Copyright &copy; Haisum {{today().year}}</p> -->
					</div>
				</div>
			</footer>
		</div><!-- /.container -->
		

		<script type="text/javascript" src="{{ url_for("static", filename="vendor/jquery-1.10.2.min.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="vendor/bootstrap/js/bootstrap.min.js") }}"></script>

		{% block javascripts %}
		{% endblock %}
		
		<script type="text/javascript" src="{{ url_for("static", filename="js/custom.js") }}"></script>
	</body>
</html>